h1{
    text-align:center;
}
body{
    background:rgb(225, 30, 118);
    color:white
}
#thisForm{
    width:300px;
    display:flex;
    flex-direction:column;
}
.charac{
    display:flex;
    justify-content:space-between;
}
.del{
    /* height:30px; */
    padding:10px;
    border-radius:30px;
}
.edit{
    padding: 10px;
    border-radius: 30px;
    cursor:pointer;
}
.names{
    font-size:12px;
}
.home{
    padding: 10px;
    border-radius: 30px;
    cursor:pointer;
}
.nameBtn{
    display:flex;
    gap:50px;
}
.editContent{
    display:flex;
    gap:50px;
}
.movieData{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
    /* display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px, 1fr));
    gap:15px; */
}
#imgContainer{
    box-shadow:0 2px 5px;
    padding:2%;
    background:grey;
    width:280px;
    margin:15px;
}
#mainImg{
    width:280px
}
.header{
    display:flex;
    justify-content:space-between;

}
.header #search{
    margin-top:25px;
    border:3px solid rgb(136, 136, 212);
    padding:10px;
    width:300px;
    /* background:grey; */
}
/* .header #search::placeholder{
    color:white
} */